.action {
    padding: 130px 0;

    &-block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 750px;
        margin: 50px auto;

        @include phones-medium {
            flex-direction: column;
        }

        img {
            margin-right: 30px;

            @include phones-medium {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        &__top {
            font-size: 27px;
            color: #7a58b1;
            margin-bottom: 15px;
            position: relative;

            @include phones-medium {
                margin-top: 40px;
                text-align: center;
            }
        }

        .ulstyle2 {
            li {
                margin-bottom: 7px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 3px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #7a58b1;

                }
            }
        }
    }
    

    &-top {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 50px;
        position: relative;
        z-index: 1;
        @include phones-medium {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        
        &__item {
            margin-right: 30px;
            min-width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0 4px;

            @include tablets {
                min-width: auto;
                width: 50%;
            }

            @include phones-medium {
                width: 100%;
                margin-right: 0;
            }
    
            &.active {
                background: #7a58b1;
                color: #fff;
                position: relative;

                &::after {
                    content: '';
                    width: 10px;
                    height: 105%;
                    position: absolute;
                    background: #fff;
                    right: -4px;
                    top: -1px;
                    transform: rotateZ(5deg);   
                }
            }
        }

    }

    &-bottom {
        position: relative;
        margin-top: -6px;
        overflow: hidden;
        background: url(../img/action-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include phones-medium {
            background: #f7f7f7;
        }
    }

    &-content {
            
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            width: 600px;
            padding-top: 40px;
            margin: auto;

            @include phones-medium {
                flex-direction: column;
                width: 100%;
                margin: auto;
                align-items: center;
            }
        
        &__item {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;

            @include phones-medium {
                width: 100%;
                align-items: center;
                margin-bottom: 30px;
                text-align: center;
            }

            &:last-child {
                margin-top: -20px;

                @include phones-medium {
                    margin-top: 0;
                }
            }

            &:nth-child(2) {
                @include phones-medium {
                    display: none;
                }
            }
        }

        &__str1 {
            position: absolute;
            left: -20px;
            top: 100px;
            @include phones-medium {
                display: none !important;
            }
        }

        &__str2 {
            position: absolute;
            right: -20px;
            top: 100px;
            @include phones-medium {
                display: none !important;
            }
        }
        
        &__top {
            color: #890058;
            margin-bottom: 7px;
            white-space: nowrap;

            @include phones-medium {
                white-space: initial;
            }

            &:last-child {
                margin-top: 7px;
            }
        }
        
        &__item img {
            display: block;
            margin: auto;
        }

        &__link {
            cursor: pointer;
        }
    }

    .action-desc {

        overflow: hidden;

        &__item {
            position: absolute;
            width: 100%;
            top: 0;
            left: 200%;
            right: 0;
            bottom: 0;
            background: url(../img/action-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s;

            @include phones-medium {
                background: #f7f7f7;
            }

            &.active {
                left: 0;
            }

            p {
                margin-bottom: 9px;
            }

            .ulstyle2 {
                li {
                    margin-bottom: 4px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 2px;
                        top: 3px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #890058;

                    }
                }
            }
        }

        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 520px;
            position: relative;

            img {
                margin-right: 20px;
                max-width: 170px;
            }
        }


        &__close {
            position: absolute;
            top: 0;
            right: -40px;
            transform: rotate(45deg);
            cursor: pointer;

            @include phones-medium {
                right: 0;
                top: -30px;
            }
        }
    }

    

    &-how {
        margin: 100px auto 0;
        display: table;

        .section-title {
            margin-bottom: 35px;
        }

        .ulstyle3 {
            width: 890px;
            margin: 20px auto 0;
            @include laptop {
                width: 100%;
            }

            &__item {
                p {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 15px;
                    font-size: 18px;
                    min-height: 35px;

                    span {
                        position: absolute;
                        left: 0;
                        color: #7a58b1;
                    }
                }
            }
        }
    }
}

.biochemical {
    &-row {
        align-items: flex-start;
        display: flex;
        margin-bottom: 120px;

        @include phones-medium {
            flex-direction: column;
        }

        &__item {
            flex: 0 0 50%;
            padding-right: 15px;

            @include phones-medium {
                padding-right: 0;
            }

            p {
                margin-bottom: 20px;
            }
        }

        &__item~&__item {
            padding-right: 0;
            padding-left: 15px;
            @include phones-medium {
                padding-left: 0;
            }
        }
    }

    &-row_last {
        margin-bottom: 0;
    }

    .bio-img1 {
        position: absolute;
        top: -30px;
        right: 50px;
        @include phones-medium {
            position: static;
            display: block;
            margin: 20px auto;
        }
    }

    .bio-img2 {
        margin: 20px 0 30px;
        @include phones-medium {
            display: none;
        }
    }

    .bio-img3 {
        position: absolute;
        right: 0;
        top: -60px;
        transform: rotateY(180deg);
    }

    .bio-z {
        position: relative;
        font-size: 21px;
    }
}

.cooling {
    padding: 10px 5px;
    background: #eee;
    margin-top: -45px;

    @include tablets {
        margin-top: -25px;
    }

    @include phones-medium {
        margin-top: 10px;
    }

    .flex{
        @include phones-medium {
            flex-direction: column;
        }

        .flex50 {
            @include phones-medium {
                margin-bottom: 20px;
            }
        }
    }

    &__text {
        font-size: 16px;
    }

    h2 {
        margin-bottom: 20px;
        display: table;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 106px;
            height: 60px;
            background: url(../img/snow.png) no-repeat;
            background-size: contain;
            position: absolute;
            right: -120px;
            top: -20px;
        }
    }

    &__title {
        margin-bottom: 15px;
        padding-bottom: 3px;
        border-bottom: 2px solid;
        max-width: calc(100% - 15px);
        font-size: 24px;
    }
}