@font-face {
	font-family: 'Museo900';
	src: url('../fonts/Museo900.woff2') format('woff2'), 
		url('../fonts/Museo900.woff') format('woff');
}

@font-face {
	font-family: 'MuseoSans-900';
	src: url('../fonts/MuseoSans-900.woff2') format('woff2'), 
		url('../fonts/MuseoSans-900.woff') format('woff');
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/MyriadProRegular.eot'); 
	src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'), 
		url('../fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'MyriadProBold';
	src: url('../fonts/MyriadProBold.eot'); 
	src: url('../fonts/MyriadProBold.woff2') format('woff2'), 
		url('../fonts/MyriadProBold.woff') format('woff');
}